

/*
Author: Bootstrapthemes
Author URI: http://www.xpeedstudio.com
*/

/* Portrait tablets and medium desktops */
@media (min-width: 992px) and (max-width: 1199px) {
    body {
        font-size: 1rem;
    }





}



/* Portrait tablets and small desktops */
/*@media (max-width: 992px) {

}*/


/* Portrait tablets and small desktops */
@media (max-width: 991px) {

    .sm-text-center{
        text-align: center !important;
    }
    .sm-pull-none{
        float: none !important;
    }
    .sm-m-top-10{
        margin-top:10px;
    }
    .sm-m-top-20{
        margin-top:20px;
    }
    .sm-m-top-30{
        margin-top:30px;
    }
    .sm-m-top-40{
        margin-top:40px;
    }
    .sm-m-top-50{
        margin-top:50px;
    }
    .item_img i{
        right:0%;
    }

    .divider_horizontal,
    .divider_vertical{
        display: none;
    }
    .main-portfolio .grid-item {
        position: relative;
        margin: 5px;
        width:350px;
        overflow: hidden;
    }


}



/* Landscape phones and portrait tablets */
@media  (max-width: 768px) {
    h2{
        font-size:2rem;
    }
    p{
        font-size:90%;
        line-height: 2rem;
    }
    .xs-pull-none{
        float: none !important;
    }
    .xs-text-center{
        text-align: center !important;
    }
    .xs-m-top-10{
        margin-top:10px;
    }
    .xs-m-top-30{
        margin-top:30px;
    }
    .xs-m-bottom-10{
        margin-bottom:10px;
    }
    .xs-m-bottom-20{
        margin-bottom:20px;
    }

    .main_product .carousel-control{
        display: none;
    }

    .main-portfolio .grid-item {
        position: relative;
        margin: 12px;
        width: 315px;
        overflow: hidden;
    }


}



/* For Grid */
@media (max-width: 706px) {
    .main-portfolio .grid-item {
        position: relative;
        margin: 10px;
        width: 310px;
        overflow: hidden;
    }


}

@media (max-width: 688px) {
    .main-portfolio .grid-item {
        position: relative;
        margin: 3px;
        width: 308px;
        overflow: hidden;
    }

@media (max-width: 656px) {
    .main-portfolio .grid-item {
        position: relative;
        margin: 18px;
        width: 550px;
        overflow: hidden;
    }

@media (max-width: 585px) {
    .main-portfolio .grid-item {
        position: relative;
        margin: 20px;
        width: 500px;
        overflow: hidden;
    }    
@media (max-width: 540px) {
    .main-portfolio .grid-item {
        position: relative;
        margin: 10px;
        width: 440px;
        overflow: hidden;
    }    

}

/* Landscape phones and smaller */
@media (max-width: 479px) {
    html {
        font-size: 85%;
    }
    .main-portfolio .grid-item {
        position: relative;
        margin: 15px;
        width: 380px;
        overflow: hidden;
    }


}





@media (max-width: 418px) {
    .main-portfolio .grid-item {
        position: relative;
        margin: 8px;
        width: 350px;
        overflow: hidden;
    }


}

@media (max-width: 375px) {
    .main-portfolio .grid-item {
        position: relative;
        margin: 8px;
        width: 320px;
        overflow: hidden;
    }

@media (max-width: 350px) {
    .main-portfolio .grid-item {
        position: relative;
        margin: 5px;
        width: 300px;
        overflow: hidden;
    }


@media (max-width: 320px) {
    html {
        font-size: 60.5%;
    }
    .main-portfolio .grid-item {
        position: relative;
        margin: 5px;
        width: 290px;
        overflow: hidden;
    }




}



